.dashCard {
  width: 200px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0 0 5px #dfdfdf;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease-in-out .3s;
  &:hover {
    box-shadow: 0 3px 7px #dfdfdf;
  }
  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  p {
    color: #343434;
    font-size: 17px;
    padding: 0;
  }
}
